@model IEnumerable<LivestockOrganizerCoreMVC.Models.AnimalModel>

@{
    ViewBag.Title = "Animal Collection";
}
<div class="animal-table">
    <h2 class="animal-table">Table</h2>
    <table >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HerdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportSerial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportDate)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @item.DateOfBirth.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HerdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportSerial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotherNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatherNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportDate)
                </td>
            </tr>
        }
    </table>
</div>
